{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h1 class="text-center my-2">Product Data Entry</h1>
    <p class="text-center">Djagno and ajax complete crud example.</p>
    <div class="row">
        <div class="col-md-4 m-auto mb-4">
            <div class="card">
                <div class="card-body">
                    <form id="p-form">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="title" class="form-label">Title</label>
                            <input type="text" class="form-control" id="title" placeholder="product title">
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <Textarea name="description" class="form-control" id="description"></Textarea>
                        </div>
                        <div class="mb-3">
                            <label for="brand" class="form-label">Brand</label>
                            <input type="text" class="form-control" id="brand" placeholder="product brand">
                        </div>
                        <div class="mb-3">
                            <label for="price" class="form-label">Price</label>
                            <input type="number" class="form-control" id="price" placeholder="product price">
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary" id="productSubmit">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Price</th>
                    <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody id="t-body">
                </tbody>
                </table>
        </div>
    </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form id="p-form">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="titleUpdate" placeholder="product title">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <Textarea name="description" class="form-control" id="descriptionUpdate"></Textarea>
                </div>
                <div class="mb-3">
                    <label for="brand" class="form-label">Brand</label>
                    <input type="text" class="form-control" id="brandUpdate" placeholder="product brand">
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" class="form-control" id="priceUpdate" placeholder="product price">
                </div>
                <div class="col-12 ml-auto">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
    
    