{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h1 class="text-center my-2">Product Data Entry</h1>
    <p class="text-center">Djagno and ajax complete crud example.</p>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <form accept="" id="p-form">
                        <div class="mb-3">
                            <label for="title" class="form-label">Title</label>
                            <input type="text" class="form-control" id="title" placeholder="product title">
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <Textarea name="description" class="form-control" id="description"></Textarea>
                        </div>
                        <div class="mb-3">
                            <label for="brand" class="form-label">Brand</label>
                            <input type="text" class="form-control" id="brand" placeholder="product brand">
                        </div>
                        <div class="mb-3">
                            <label for="price" class="form-label">Price</label>
                            <input type="number" class="form-control" id="price" placeholder="product price">
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary" id="productSubmit">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">Description</th>
                            <th scope="col">Brand</th>
                            <th scope="col">Price</th>
                          </tr>
                        </thead>
                        <tbody id="t-body">
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascript %}
    <script>
        const tBody = document.getElementById('t-body')
        $.ajax({
            type: 'GET',
            url: `{% url 'product_list_view' %}`,
            success: function(response){
                console.log(response.data)
                data = response.data
                data.forEach(pd => {
                    tBody.innerHTML += `
                        <tr>
                            <th scope="row">${pd.id}</th>
                            <td>${pd.title}</td>
                            <td>${pd.description}</td>
                            <td>${pd.price}</td>
                            <td>${pd.brand}</td>
                        </tr>
                    `
                });
            },
            error: function (error){
                console.log(error)
            }
        })
        /**
         * TODO: CRUD OPERATION
        $('#productSubmit').click(function(){
            console.log('wow button working....')
            let titleValue = $("#title").val()
            let descriptionValue = $("#description").val()
            let brandValue = $("#brand").val()
            let priceValue = $("#price").val()

            if (titleValue === ''){
                return console.log('enter the title value')
            }
            if (descriptionValue === ''){
                return console.log('enter the description value')
            }
            if (brandValue === ''){
                return console.log('enter the brand value')
            }
            if (priceValue === ''){
                return console.log('enter the price value')
            }
            const productData = {
                title: titleValue,
                description: descriptionValue,
                brand: brandValue,
                price: priceValue
            }
            console.log(productData)
            $.ajax({
                url: '',
                method: 'POST',
                data: productData,
                success: function (data){
                    console.log(data)
                }
            })
        })
        ***/
    </script>
{% endblock javascript %}
    
    